* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main {
    display: flex;
    flex-direction: row;
    width:100%;
    height:92%;
}
.header {
    height: 8%;
    box-shadow: 0px 0.2px 19px -5px rgba(66, 68, 90, 1);
}
.header * {
    font-size: 20px; 
}
.headerWrapper {
    position: absolute;
    z-index: 10;
}
.headerWrapper span{
    background-color: #f5f5f5;
    padding: 17px 63.2px 17px 63.2px;
    display: flex;
    justify-content: center;
}
.headerWrapper span img {
    margin-left: 800px;
}
.doGory {
    position: absolute;
    z-index: 2;
    bottom: 52rem;
    left: 53rem;
}
.log {
    position: absolute;
    z-index: 2;
    bottom: 20rem;
    left: 56rem;
}
input {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:90%;
}
.heroWrapper {
    width: 100%;
    height: 100%;
    margin-left: -650px;
}
h1 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
    margin-left: 540px;
}
form {
    width: 100%;
    margin: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.mainForm {
    width: 50%;
    margin-top: 40px;
    margin-left: 520px;
    margin-bottom: 110px;
}
.sideForm {
    width: 38%;
    margin-bottom: 50px;
}
.sideForm div{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.mainForm div{
    font-size: 16px;
}
.mainForm h2{
    width: 200px;
    margin-left: 230px;
}
.nazwaContainer, .kodProduktu, .cena, .zdjecie {
    display: flex;
    flex-direction:column;
    width: 200px;
    margin-left: 100px;
}
.zdjecie {
    margin-left: 120px;
}
.wybor {
    display: flex;
    width: 400px;
    margin-left: 100px;
}
.cudzy, .wlasny, .sprowadzony {
    display: flex;
}
.sprowadzony {
    margin-left: 100px;
}
.cenaOryginalna, .marza {
    display: flex;
    flex-direction: column;
}
input {
    padding: 5px;
    margin: 10px;
    width: 450px;
}
.wybor div input {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 20px;
    height:20px;
} 
.cudy, .wlasny {
    width: 200px;
}
.wybor .wlasny label {
    width: 130px;
    margin-left: 12px;
}
.wybor .cudzy label {
    width: 200px;
}
.sprowadzony {
    flex-direction: row;
}
.sprowadzony * input{
    width: 220px;
} 
.cenaOryginalna label, .marza label {
    width: 200px;
}
.zdjecie #zdjecie{
    width: 370px;
}
label {
    width: 400px;
    margin-left: 12px;
}
.przycisk {
    background-color:#2cb3e9;
    border: 0px;
    border-radius: 5px;
    height: 55px;
    width: 280px;
    margin-left: 110px;
    box-shadow: 5px 5px 15px -5px rgba(66, 68, 90, 1);
}
#dodajProduktBG {
    position: absolute;
    z-index: 5;
    background-color: black;
    opacity: 0.3;
    left: 0rem;
    width: 100vw;
    height: 104vh;
}
#dodajProduktWrapper {
    position: absolute;
    background-color: whitesmoke;
    flex-direction: column;
    border-radius: 5px;
    height: 40vh;
    width: 40vw;
    left: 35rem;
    z-index: 7;
    opacity: 1;
}
#dodajProduktWrapper p {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
#potwierdzProdukt {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 230px;
}
#dodajProdukt {
    margin-left: 69rem;
    font-size: 18px;
}
#dodajZnak {
    border-radius: 5px;
    height: 37px;
    width: 240px;
    position: absolute;
    bottom: 13rem;
    left: 21rem;
}
#wroc, #przod{
    border-radius: 5px;
    height: 37px;
    width: 60px;
    position: absolute;
    z-index: 2;
    bottom: 15rem;
    left: 67rem;
}
#przod {
    left: 71rem;
}
.przycisk:hover{
    background-color: #2ea2cf;
}
.przycisk:active{
    background-color: #67cdf5;
    box-shadow: 8px 8px 15px -5px rgba(66, 68, 90, 1);
}
#podsumowanie {
    width: 60%;
    height: 200px;
    margin: auto;
    list-style: none;
}
#powrot {
    position: absolute;
    left: 32rem;
    bottom: 20rem;
    z-index: 15;
    width: 80px;
    height: 30px;
}