input {
    padding: 5px;
    margin: 5px;
}

.info {
    font-size: 0.8em;
    color: #666;
    margin: 5px;
}

input[list] {
    width: 200px;
}

form {
    margin: 20px;
}

#technologiaContainer {
    display: block;
}